<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Share</title>
</head>
<body>
    <h1>Welcome, <span data-th-text="${user.name}"></span></h1>
    <a href="/logout">Logout</a>
    <a href="/books/new">+ Add a book to my shelf!</a>

    <p>Books from everyone's shelves:</p>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Author Name</th>
            <th>Posted By</th>
        </thead>
        <tbody>
            <tr data-th-each="book:${books}">
                <td data-th-text="${book.id}"></td>
                <td><a data-th-href="@{/books/{id}(id=${book.id})}" data-th-text="${book.title}"></a></td>
                <td data-th-text="${book.author}"></td>
                <td data-th-text="${book.user.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>