<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Share</title>
</head>
<body>
    <h1>Add a Book to Your Shelf!</h1>
    <a href="/books">back to the shelves</a>

    <form data-th-action="@{/books}" method="post" data-th-object="${book}">
        <label for="title">Title</label>
        <input type="text" data-th-field="*{title}" id="title">
        <span data-th-if="${#fields.hasErrors('title')}" data-th-errors="*{title}"></span>

        <label for="author">Author</label>
        <input type="text" data-th-field="*{author}" id="author">
        <span data-th-if="${#fields.hasErrors('author')}" data-th-errors="*{author}"></span>

        <label for="thoughts">My Thoughts</label>
        <textarea data-th-field="*{thoughts}" id="thoughts" cols="30" rows="10"></textarea>
        <span data-th-if="${#fields.hasErrors('thoughts')}" data-th-errors="*{thoughts}"></span>

        <button>Submit</button>
    </form>
</body>
</html>