<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Share</title>
</head>
<body>
    <h1 data-th-text="${book.title}"></h1>
    <a href="/books">back to the shelves</a>

    <p><span data-th-text="${book.owner.name}"></span> owns <span data-th-text="${book.title}"></span> by <span data-th-text="${book.author}"></span>.</p>
    <p data-th-switch="${book.owner.id}">Here are <span data-th-case="${session.user_id}">your</span><span data-th-case="*"><span data-th-text="${book.owner.name}"></span>'s</span> thoughts:</p>
    <hr>
    <p data-th-text="${book.thoughts}"></p>
</body>
</html>