<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="columns is-centered">
        <section class="column is-half card">
            <h1 class="title">Dojo Survey</h1>
            <form action="/result" method="POST">
                <div class="field">
                    <label for="name" class="label">Name</label>
                    <div class="control">
                        <input id="name" name="name" class="input" type="text" placeholder="Name">
                    </div>
                </div>
                
                <div class="field">
                    <label for="location" class="label">Dojo Location:</label>
                    <div class="control">
                        <div class="select">
                            <select id="location" name="location">
                                <option value="" selected>---Select a Location---</option>
                                <option value="Online">Online</option>
                                <option value="Bellevue">Bellevue</option>
                                <option value="Boise">Boise</option>
                                <option value="Chicago">Chicago</option>
                                <option value="Los Angeles">Los Angeles</option>
                                <option value="Silicon Valley">Silicon Valley</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <label for="language" class="label">Favorite Language:</label>
                    <div class="control">
                        <div class="select">
                            <select id="language" name="language">
                                <option value="" selected>---Select a Language---</option>
                                <option value="HTML">HTML</option>
                                <option value="CSS">CSS</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="Python">Python</option>
                                <option value="Java">Java</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <label for="comments" class="label">Comments</label>
                    <div class="control">
                        <textarea id="comments" name="comments" class="textarea" placeholder="Comments"></textarea>
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
</html>