<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Category</title>
</head>
<body>
    <h1>New Category</h1>

    <form data-th-action="@{/categories}" method="post" data-th-object="${category}">
        <label for="name">Name:</label>
        <input type="text" data-th-field="*{name}" id="name">

        <button>Create</button>
    </form>
</body>
</html>