<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Product</h1>

    <form data-th-action="@{/products}" method="post" data-th-object="${product}">
        <label for="name">Name:</label>
        <input type="text" data-th-field="*{name}" id="name">

        <label for="description">Description:</label>
        <textarea id="description" data-th-field="*{description}" cols="30" rows="10"></textarea>

        <label for="price">Price</label>
        <input type="number" data-th-field="*{price}" id="price">

        <button>Create</button>
    </form>
</body>
</html>