<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Omikuji</title>
</head>
<body>
	<h1>Send an Omikuji!</h1>
	
	<h2 data-th-text="${2+2}"></h2>

	<form action="/omikuji/add" method="post">
		<label for="num">Pick any number from 5 to 25</label>
		<select name="num" id="num">
			<option data-th-each="i : ${#numbers.sequence(5, 25)}" data-th-value="${i}" data-th-text="${i}"></option>	
		</select>
		
		<label for="city">Enter the name of any city.</label>
		<input type="text" name="city" id="city" />
		
		<label for="person">Enter the name of any real person</label>
		<input type="text" id="person" name="person" />
		
		<label for="hobby">Enter professional endeavor or hobby:</label>
		<input type="text" id="hobby" name="hobby" />
		
		<label for="thing">Enter any type of living thing.</label>
		<input type="text" id="thing" name="thing" />
		
		<label for="nice">Say something nice to someone:</label>	
		<textarea name="nice" id="nice" cols="30" rows="10"></textarea>
		
		<p><em>Send and show a friend</em></p>	
		<button>Send</button>
	</form>
</body>
</html>