<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Books</title>
</head>
<body>
    <h1 data-th-text="${book.title}"></h1>

    <p>Description: <span data-th-text="${book.description}"></span></p>
    <p>Language: <span data-th-text="${book.language}"></span></p>
    <p>Number of Pages: <span data-th-text="${book.numberOfPages}"></span></p>
</body>
</html>