<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="columns is-centered">
        <div class="column is-half card">
            <div class="content is-medium">
                <h1>Submitted Info</h1>
                <p><strong>Name:</strong> {{ dojo.name }}</p>
                <p><strong>Dojo Location:</strong> {{ dojo.location }}</p>
                <p><strong>Favorite Language:</strong> {{ dojo.language }}</p>
                <p><strong>Comment:</strong> {{ dojo.comment }}</p>
            </div>
        </div>
    </div>
</body>
</html>